html, body {
  width: 100%;
  height: 100%;
}

p {
  max-width: 700px;
}

.container {
  border: solid lightgray 3px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

svg.base polygon {
  stroke: black;
  stroke-width: 2px;
  opacity: 0.5;
  fill-rule:evenodd;
}

@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

svg.intersections {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.control {
  position: absolute;
  left: 50%;
  top: 90%;  
  transform: translateX(-50%) translateY(-90%);
  text-align:center;
}

